/* MENU NAV-BAR */
.navbar-link {
    text-align: center;
}

.navbar-link::after {
    border-color: white !important;
}

.navbar-link:hover {
    background-color: transparent !important;
}

.navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent !important; 
}

.navbar-burger span {
    background-color: white !important;
    height: 2px !important;
}
.navbar-dropdown {
    background:rgba(0, 0, 0, 0.6) !important;
}

.navbar-dropdown .navbar-item:hover {
    background:rgba(0, 0, 0, 0.9) !important;
}

/* ACCUEIL */

.hero-presentation {
    background: rgb(10, 10, 10) url('../images/lmc.png') top center;
    background-size: cover;
}

.hero-accueil-services {
    background-image: linear-gradient(to right,  #b2b4b4 ,#E8E8E8 );
}

.advantage {
    padding: 20px; 
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    border-radius: 10px;
}

/*
.advantage:hover {
    box-shadow: 0 0 2px black;
    cursor: pointer;
    padding: 25px 20px;
}*/

.advantage-fuchsia {
    padding: 40px 20px;
    z-index: 5;
    border-radius: 10px;
    background: rgba(223, 40, 87, 0.8);
}

/*
.advantage-fuchsia:hover {
    box-shadow: 0 0 6px black;
    cursor: pointer;
    padding: 45px 20px;
}*/

.advantage p, .advantage-fuchsia p {
    color: white;
}


.apropos-logo {
    position: relative;
    height: 150px;
    width: 300px;
}

.go-down:hover {
    position: relative;
    top: 5px;
    cursor: pointer;
}

.hero-accueil-services {
    background: url('../images/peony-black-background.png') bottom center;
    background-size: cover;
}

.services-background {
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(19, 19, 19);
    background-color: rgba(20, 20, 20, 0.726);
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s,
                width 1s,
                height 1s,
                border-radius 1s;
}

.services-background:hover {
    background-color:  #DF2857;
    width: 260px;
    height: 260px;
    cursor: pointer;
    border-radius: 50%;
}

.image-services {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 60px;
    background: url('../images/peony-black.png') center center;
    box-shadow: 0px 0px 6px black;
    border-radius: 10px;
}

.others-articles {
    position: relative;
    max-height: 650px;
    overflow-y: scroll;
}

/*
.column-logo-partenaires {
    overflow: hidden;
}

.columns-partenaires {
    overflow: hidden;
}

.columns-partenaires .columns {
    overflow-y: scroll;
}*/


.hero-accueil-contact {
    background-image: url("../images/team-work.png");
    background-size: cover;
}

.is-visible {
    display: block!important;
}

/* A PROPOS */ 

.hero-apropos-presentation {
    background-image: url("../images/apropos.png");
    background-size: cover;
}

.is-size-big {
    font-size: 4.5rem;
}

/* SERVICES */

.hero-services-presentation {
    background-image: url("../images/services.png");
    background-size: cover;
}

/* ACTUALITES */

.hero-actualites-presentation {
    background-image: url("../images/actualites.png");
    background-size: cover;
}

/* FAQ */

.hero-faq-presentation {
    background-image: url("../images/faq.png");
    background-size: cover;
}

.faq-questions {
    border: 1px solid hsl(0, 0%, 21%);
    border-radius: 5px;
    box-shadow: 0px 0px 3px silver;
}

.question {
    width: 100%;
    padding: 10px;
    border-radius: 4px 4px 2px 2px;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.question p:hover {
    cursor: pointer;
}

.response {
    padding: 10px;
    width: 100%;
    
}

/* CONTACT */

.hero-contact-presentation {
    background-image: url("../images/contact.png");
    background-size: cover;
}

#map {
    height: 100%;
    min-height: 500px;
    width: 100%;
    border-radius: 20px;
}

.no-border {
    border: none !important;
}

.py-50 {
    padding: 50px 0;
}

.has-border-bottom {
    border-bottom: 1px solid #DF2857 ;
}

/* SIZES IMAGES */

.is-250x250 {
    position: relative;
    height: 250px;
    width: 250px;
} 

/* COLORS */
.has-text-fuchsia { color: #DF2857 }

.has-background-fuchsia { background-color: #DF2857 }

.has-background-dark-fuchsia { background-color: #C21E47}

.has-background-grey-gradient { background-image: linear-gradient(to left,  #7E8283 ,#C6C6C6 );}

.has-background-fuchsia-gradient { background-image: linear-gradient(to left,  #C21E47 ,#df4067 );}

.has-background-silver { background-color: #f8f8f8 }

.is-fuchsia {
    background-color: #DF2857;
    color: white;
    border: none;
}

.is-fuchsia:hover { 
    background-color: #EA4771;
    color: white;
    border: none;
}

.is-fuchsia-outlined {
    background-color: transparent;
    color: #DF2857;
    border: solid 2px #DF2857;
}

.is-fuchsia-outlined:hover {
    background-color: #DF2857;
    color: white;
    border: solid 2px #DF2857;
}

.underline-fuchsia {
    position: relative;
    height: 4px;
    width: 100px;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: #DF2857;
    border-radius: 6px;
}

/* #955263 #77424F #5F353F #4C2A32 #3D2228 #311B20 */

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-presentation {
        background-position: 70% 50%;
    }

    .columns-social-media {
        margin-top: 35px;
    }

    .hero-accueil-services {
        background-image: none;
        background-color: #E8E8E8;
    }
}

@media only screen and (max-width: 1023px) {
    /*.navbar-item a.has-text-white {
        color: black !important;
    }*/

    .navbar-menu {
        background-color: rgba(17, 16, 16, 0.8);
    }

    .navbar-dropdown {
        display: none;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* ANIMATION */ 

.graph-line-x, .graph-line-y {
    position: relative;
    background-color: black;
}

.graph-line-x {
    height: 40px;
    width: 440px;
}

.graph-line-y {
    height: 400px;
    width: 40px;
}

.line-1, .line-2, .line-3 {
    position: absolute;
    width: 80px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 0 5px lightblue;
} 

.line-1 {
    top: 20px;  
    height: 380px;
    transform: translateX(60px);
    animation: go-up-400px 1s 2s linear both;
}

.line-2 {
    top: 100px;  
    height: 300px;
    transform: translateX(180px);
    animation: go-up-300px 1s 1s linear both;
}

.line-3 {
    top: 612px;  
    height: 200px;
    transform: translate(300px, -210px);
    animation: go-up-200px 1s linear both;
}

.stem {
    position: absolute;
    top: 10px;
    left: 550px; 
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-color: lightgreen;
    transform: rotateZ(-45deg);
    animation: stem-grows-up 3s 3s linear both;
}

@keyframes go-up-200px {
    from {
        height: 0px;
        top: 612px;
    }

    to {
        height: 200px;
        top: 412px;
    }
}

@keyframes go-up-300px {
    from {
        height: 0px;
        top: 400px;
    }

    to {
        height: 300px;
        top: 100px;
    }
}


@keyframes go-up-400px {
    from {
        height: 0px;
        top: 400px;
    }

    to {
        height: 380px;
        top: 20px;
    }
}

@keyframes stem-grows-up {
    from {
        height: 0px;
        top: 300px;
        left: 550px;
    }

    to {
        height: 600px;
        top: -60px;
        left: 398px;
    }
}



/* As hex codes */

.color-primary-0 { color: #B34989 }	/* Main Primary color */
.color-primary-1 { color: #E3A3CA }
.color-primary-2 { color: #CE72AA }
.color-primary-3 { color: #9C2C70 }
.color-primary-4 { color: #7E1554 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(179, 73,137,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(227,163,202,1) }
.rgba-primary-2 { color: rgba(206,114,170,1) }
.rgba-primary-3 { color: rgba(156, 44,112,1) }
.rgba-primary-4 { color: rgba(126, 21, 84,1) }